/* .hover_underline {
  @apply relative capitalize cursor-pointer transition-all duration-200 hover:text-primary;
  @apply after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:h-[2px] after:w-0 after:bg-primary;
  @apply after:transition-all after:duration-300 after:transform after:-translate-x-1/2 hover:after:w-full;
}

.select_underline {
  @apply relative capitalize cursor-pointer transition-all duration-200 text-primary;
  @apply after:content-[''] after:absolute after:left-1/2 after:bottom-0 after:h-[2px] after:w-0 after:bg-primary;
  @apply after:transition-all after:duration-300 after:transform after:-translate-x-1/2 after:w-full;
} */