@import "tailwindcss";


:root {
  --primary: #3b82f6;
  --secondary: #3b3b3b;
  --black: #24262d;
}

/*
 @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


@theme {
  /* ============================================================= */
  /* 1. FONT FAMILY */
  /* ============================================================= */
  --font-family-albert: "Albert Sans", sans-serif;

  /* ============================================================= */
  /* 2. FONT SIZES */
  /* ============================================================= */
  --font-size-h1: 64px;
  --font-size-h2: 56px;
  --font-size-h3: 48px;
  --font-size-h4: 40px;
  --font-size-h5: 32px;
  --font-size-h6: 24px;
  --font-size-para-lg: 20px;
  --font-size-para-md: 18px;
  --font-size-para-sm: 16px;
  --font-size-subtitle-lg: 14px;
  --font-size-subtitle-md: 12px;
  --font-size-subtitle-sm: 10px;
  --font-size-subtitle-x-sm: 8px;

  /* ============================================================= */
  /* 3. LINE HEIGHTS */
  /* ============================================================= */
  --line-height-h1: 72px;
  --line-height-h2: 64px;
  --line-height-h3: 56px;
  --line-height-h4: 48px;
  --line-height-h5: 40px;
  --line-height-h6: 32px;
  --line-height-para-lg: 28px;
  --line-height-para-md: 26px;
  --line-height-para-sm: 24px;
  --line-height-subtitle-lg: 22px;
  --line-height-subtitle-md: 20px;
  --line-height-subtitle-sm: 18px;
  --line-height-subtitle-x-sm: 16px;

  /* ============================================================= */
  /* 4. COLORS */
  /* ============================================================= */
  --color-primary: var(--primary);
  /* Dynamic via :root */
  --color-secondary: var(--secondary);

  /* nPrimary Scale */
  --color-nPrimary-50: #EFF5FF;
  --color-nPrimary-100: #DBE8FE;
  --color-nPrimary-200: #BFD7FE;
  --color-nPrimary-300: #93BBFD;
  --color-nPrimary-400: #609AFA;
  --color-nPrimary-500: #2e70f0;
  --color-nPrimary-600: #2570EB;
  --color-nPrimary-700: #1D64D8;
  --color-nPrimary-800: #1E55AF;
  --color-nPrimary-900: #1E478A;
  --color-nPrimary-950: #172E54;

  /* nGray Scale */
  --color-nGray-50: #F6F7F9;
  --color-nGray-100: #EDEEF1;
  --color-nGray-200: #D7DAE0;
  --color-nGray-300: #B3BAC6;
  --color-nGray-400: #8A94A6;
  --color-nGray-500: #687387;
  --color-nGray-600: #565F73;
  --color-nGray-700: #464D5E;
  --color-nGray-800: #3D434F;
  --color-nGray-900: #363A44;

  /* nSecondary Scale */
  --color-nSecondary-50: #F7F3FF;
  --color-nSecondary-100: #EFE9FE;
  --color-nSecondary-200: #E2D6FE;
  --color-nSecondary-300: #CBB5FD;
  --color-nSecondary-400: #AD8BFA;
  --color-nSecondary-500: #8B5CF6;
  --color-nSecondary-600: #713AED;
  --color-nSecondary-700: #5E28D9;
  --color-nSecondary-800: #4E21B6;
  --color-nSecondary-900: #421D95;
  --color-nSecondary-950: #2A1065;

  /* Single Colors */
  --color-nBlack: #24262d;
  --color-nSuccess: #329457;
  --color-nWarning: #FDA712;
  --color-nError: #F04438;

  /* ============================================================= */
  /* 5. BOX SHADOW */
  /* ============================================================= */
  --shadow-inner-custom: inset 0 0 20px rgba(0, 0, 0, 0.3);


  /* ============================================================= */
  /* 7. CONTAINER (Custom) */
  /* ============================================================= */

  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-2xl: 1320px;
  --container-3xl: 1440px;
}