@import "tailwindcss";


:root {
  --primary: #3b82f6;
  --secondary: #3b3b3b;
  --black: #24262d;
}

/*
 @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


@theme {
  /* ============================================================= */
  /* 1. FONT FAMILY */
  /* ============================================================= */
  --font-family-albert: "Albert Sans", sans-serif;

  /* ============================================================= */
  /* 2. FONT SIZES */
  /* ============================================================= */
  /* --font-size-h1: 64px;
  --font-size-h2: 56px;
  --font-size-h3: 48px;
  --font-size-h4: 40px;
  --font-size-h5: 32px;
  --font-size-h6: 24px;
  --font-size-para-lg: 20px;
  --font-size-para-md: 18px;
  --font-size-para-sm: 16px;
  --font-size-subtitle-lg: 14px;
  --font-size-subtitle-md: 12px;
  --font-size-subtitle-sm: 10px;
  --font-size-subtitle-x-sm: 8px; */

  /* ============================================================= */
  /* 3. LINE HEIGHTS */
  /* ============================================================= */
  /* --line-height-h1: 72px;
  --line-height-h2: 64px;
  --line-height-h3: 56px;
  --line-height-h4: 48px;
  --line-height-h5: 40px;
  --line-height-h6: 32px;
  --line-height-para-lg: 28px;
  --line-height-para-md: 26px;
  --line-height-para-sm: 24px;
  --line-height-subtitle-lg: 22px;
  --line-height-subtitle-md: 20px;
  --line-height-subtitle-sm: 18px;
  --line-height-subtitle-x-sm: 16px; */

  /* ============================================================= */
  /* 4. COLORS */
  /* ============================================================= */
  --color-primary: var(--primary);
  /* Dynamic via :root */
  --color-secondary: var(--secondary);

  /* nPrimary Scale */
  --color-nPrimary-50: #EFF5FF;
  --color-nPrimary-100: #DBE8FE;
  --color-nPrimary-200: #BFD7FE;
  --color-nPrimary-300: #93BBFD;
  --color-nPrimary-400: #609AFA;
  --color-nPrimary-500: #2e70f0;
  --color-nPrimary-600: #2570EB;
  --color-nPrimary-700: #1D64D8;
  --color-nPrimary-800: #1E55AF;
  --color-nPrimary-900: #1E478A;
  --color-nPrimary-950: #172E54;

  /* nGray Scale */
  --color-nGray-50: #F6F7F9;
  --color-nGray-100: #EDEEF1;
  --color-nGray-200: #D7DAE0;
  --color-nGray-300: #B3BAC6;
  --color-nGray-400: #8A94A6;
  --color-nGray-500: #687387;
  --color-nGray-600: #565F73;
  --color-nGray-700: #464D5E;
  --color-nGray-800: #3D434F;
  --color-nGray-900: #363A44;

  /* nSecondary Scale */
  --color-nSecondary-50: #F7F3FF;
  --color-nSecondary-100: #EFE9FE;
  --color-nSecondary-200: #E2D6FE;
  --color-nSecondary-300: #CBB5FD;
  --color-nSecondary-400: #AD8BFA;
  --color-nSecondary-500: #8B5CF6;
  --color-nSecondary-600: #713AED;
  --color-nSecondary-700: #5E28D9;
  --color-nSecondary-800: #4E21B6;
  --color-nSecondary-900: #421D95;
  --color-nSecondary-950: #2A1065;

  /* Single Colors */
  --color-nBlack: #24262d;
  --color-nSuccess: #329457;
  --color-nWarning: #FDA712;
  --color-nError: #F04438;

  /* ============================================================= */
  /* 5. BOX SHADOW */
  /* ============================================================= */
  --shadow-inner-custom: inset 0 0 20px rgba(0, 0, 0, 0.3);


  /* ============================================================= */
  /* 7. CONTAINER (Custom) */
  /* ============================================================= */

  /* --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-2xl: 1320px;
  --container-3xl: 1440px; */
}

.container {
  @apply px-4 max-w-[1272px] mx-auto;
}


/* .container{
  @apply max-w-full px-4 sm:px-8 md:max-w-[720px] lg:px-12 lg:max-w-[960px] xl:max-w-[1140px] xl:px-16 2xl:max-w-[1440px] mx-auto  bg-amber-900;
} */




html {
  scroll-behavior: smooth;
}

html,
body {
  /* overflow-x: hidden; */
  font-family: var(--font-family-albert);
  font-optical-sizing: auto;
  color: var(--black);
  line-height: 1.6;
}


.section-container {
  max-width: 1104px;
  @apply px-20 py-6 w-full mx-auto;
}

.title {

  @apply text-blue-500 text-sm sm:text-2xl font-medium font-['Albert_Sans'] leading-loose
}

.heading {
  @apply text-nBlack text-2xl sm:text-5xl font-semibold font-['Albert_Sans'] leading-normal sm:leading-[56px]
}

.title_dashboard {

  @apply text-zinc-800 text-lg md:text-3xl font-semibold
}

.mt-100 {
  margin-top: 100px;
}

.my-60 {
  margin: 60px 0;
}

.mt-60 {
  margin-top: 60px;
}

/* button  */
.btn_border {
  background-color: transparent;
  @apply px-4 sm:px-6 border-primary border p-2 rounded-lg text-xs sm:text-sm capitalize transition-all duration-150 hover:bg-primary flex items-center gap-1 justify-center hover:text-white text-primary;
}

.btn_solid {
  background-color: var(--primary);
  @apply border-primary border rounded-lg text-sm capitalize transition-all duration-150 hover:bg-white hover:text-primary text-white w-full flex justify-center items-center
}

.hollow-number {
  color: transparent;
  /* Makes the inside transparent */
  -webkit-text-stroke: 0.5px black;
  /* Outline thickness and color */
}




/* scrollbar section  */

.scrollbar-hide {
  -ms-overflow-style: none;
  /* for Internet Explorer and Edge */
  scrollbar-width: none;
  /* for Firefox */
  -webkit-overflow-scrolling: touch;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-style::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

/* Track */
.scrollbar-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 187, 187);
  border-radius: 10px;
}

/* Handle */
.scrollbar-style::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
  border-radius: 90px;

}

.scrollbar-style::-webkit-scrollbar-corner {}

/* Handle on hover */
.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 187, 187)
}



/* product section start */

.ellipse-1,
.ellipse-2,
.ellipse-3,
.ellipse-4 {
  width: 133px;
  height: 133px;
  position: absolute;
}

.ellipse-1 {
  left: 165px;
  top: 314px;
  background: #893bf6;
  filter: blur(200px);
}

.ellipse-2 {
  right: 228px;
  bottom: 60px;
  background: #8b5cf6;
  filter: blur(200px);
}

.ellipse-3 {
  left: 568px;
  bottom: 88px;
  background: #8b5cf6;
  filter: blur(200px);
}

.ellipse-4 {
  left: 92px;
  bottom: 173px;
  background: #42bfed;
  filter: blur(200px);
}

.whatsappIcon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

/* Navbar Styling */
.navbar-brand {
  font-size: 1.5rem;
  color: #333;
}

.navbar-nav .nav-link {
  color: var(--black);
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.contact-us-btn {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 35px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}



.profile-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f6f7f9;
  cursor: pointer;
  @apply flex items-center justify-center overflow-hidden;
}